#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  sogo-app.service
BindsTo=sogo.service
After=sogo.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/discovery_mail.env
EnvironmentFile=-%S/state/discovery_ldap.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/usr/bin/bash -c "/bin/mkdir -p {config,backups,templates,css,img,js}"
ExecStartPre=/bin/rm -f %t/sogo-app.pid %t/sogo-app.ctr-id
ExecStartPre=/usr/local/bin/runagent discover-service
ExecStartPre=/usr/local/bin/runagent discover-ldap
ExecStartPre=/usr/local/bin/runagent expand-configuration
ExecStartPre=/usr/local/bin/runagent reveal-master-secret
ExecStartPost=/usr/bin/bash -c "while ! /usr/bin/podman exec sogo-app /usr/bin/curl  http://127.0.0.1:20001/SOGo ; do sleep 3 ; done"
ExecStart=/usr/bin/podman run --conmon-pidfile %t/sogo-app.pid \
    --cidfile %t/sogo-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/sogo.pod-id --replace -d --name  sogo-app \
    --volume ./config/sogo.conf:/etc/sogo/sogo.conf:Z \
    --volume ./config/cron-sogo:/etc/cron.d/cron-sogo:Z \
    --volume ./config/sieve.creds:/etc/sogo/sieve.creds:Z \
    --volume ./config/SOGo.conf:/etc/httpd/conf/extra/SOGo.conf:Z \
    --volume ./backups:/etc/sogo/backups:Z \
    --volume ./css:/usr/lib/GNUstep/SOGo/WebServerResources/css:Z \
    --volume ./img:/usr/lib/GNUstep/SOGo/WebServerResources/img:Z \
    --volume ./js:/usr/lib/GNUstep/SOGo/WebServerResources/js:Z \
    ${SOGO_SERVER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/sogo-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP sogo-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/sogo-app.ctr-id
PIDFile=%t/sogo-app.pid
Type=forking

[Install]
WantedBy=default.target
